
.bit-slider {
    margin-top: 50px;
    margin-bottom: 50px;
}

.bit-slider img {
  max-height: 500px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}

.slick-prev:before {
    content: "<";
    color: rgb(15, 15, 15);
    font-size: 70px;
}

.slick-next:before {
    content: ">";
    color: rgb(15, 15, 15);
    font-size: 70px;
}